################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScreenBrightness.VC.VC.opendb
/ScreenBrightness/x64/Debug
/x64/Debug
/ScreenBrightness/Release
/ScreenBrightness/Debug
/ipch
/Debug
/BrightnessTest/Debug/BrightnessTest.tlog
/BrightnessTest/Debug
/BrightnessTest/Release
/BrightnessTest/x64/Debug
/Release
